* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background: #DA4453; 
background: -webkit-linear-gradient(to right, #89216B, #DA4453); 
background: linear-gradient(to right, #89216B, #DA4453);

  
}
body::after {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 300px;
  content: "";
  
  background: #DA4453; 
  background: -webkit-linear-gradient(to right, #89216B, #DA4453); 
  background: linear-gradient(to right, #89216B, #DA4453); 

  z-index: -1;
}
.intro {
  margin: 100px;
  overflow: hidden;
  height: 650px;
  /* height: 95%; */
  text-align: center;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  
}
.links{
  display: flex;
  justify-content: space-around;
}

.links img {
  width: 100px;
  margin: 15px;
  margin-top: 100px;
}

h1{
  font-family: 'Zen Tokyo Zoo', cursive;
  /* letter-spacing: 0.1em; */
  font-size: 90px;
  font-weight: 500;
}

#p1{
  padding-top: 15px;
  font-size: 33px;
  letter-spacing: 0.1em;
  font-family: 'Roboto', sans-serif;
}

.p2{
  padding-top: 10px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.1em;
  font-size: 22px;
}